---
---

@import "{{ site.theme }}";

/* Make description font smaller - alternative selectors */
.project-tagline {
  font-size: 10px;
}

header p {
  font-size: 14px;
}

.description {
  font-size: 10px;
}